<div class="modal-dialog {{_size}}" role="document">
    <div class="modal-content">
        <div class="modal-header">
          {{#ck-button class="close" label="Close" action=cancel}}
              <span aria-hidden="true">&times;</span>
          {{/ck-button}}
            <h4 class="modal-title" {{bindAttr id=_labelledBy}}>{{title}}</h4>
        </div>
        <div {{bindAttr id=ariaDescribedby}} class="modal-body">
            <p>{{yield}}{{{content}}}</p>
        </div>
        <div class="modal-footer">
          {{#if cancel}}
            {{#ck-button action="cancel" type="danger"}}{{cancel}}{{/ck-button}}
          {{/if}}
          {{#if ok}}
            {{#ck-button action="ok" type="success"}}{{ok}}{{/ck-button}}
          {{/if}}
        </div>
    </div>
</div>
