<div class={{_subClass}} role="progressbar" aria-valuenow={{value}} aria-valuemin={{min}} aria-valuemax={{max}} style={{_style}}>
  {{#if label}}
    {{_label}}
  {{else}}
      <span class="sr-only">{{label}}</span>
  {{/if}}
</div>
